.container{
    display:flex;

    justify-content:space-evenly;
    align-items:center;
    flex-direction:row-reverse;
    flex-wrap:wrap;
}
.box{
    height:100px;
    width:100px;
    border:2px solid #000000;
    text-align:center;
    font-size:5em;
    border-radius:50%;
    transition: transorm 0.8s;
}
.box:hover{
    transform: rotate(1.3);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
#box1{
    background-size:contain;
    background-color:lightblue;
    background-image: url("p1.png");

}
#box2{
    background-color:lightgreen;
    background-size:contain;
    background-image: url("p2.png");
}
#box3{
    background-color:lightcoral;
    background-size:contain;
    background-image: url("p3.png");
}
#box4{
    background-color:lightyellow;
    background-size:contain;
    background-image: url("p4.png");    
}
#box5{
    background-color:lightpink;
    background-size:contain;
    background-image: url("p5.png");
}