.container{
    display:grid;
    grid-template-columns:25% 50% 25%;
    gap:10px;
    grid-template-rows:20% 60% 20%;
}
.box{
    background-color:violet;
    text-align:center;
    padding:10px;
    border:2px solid black;

}
