.container{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex: wrap;
}
body{
    background-color: aqua;
}
.card{
    width:200px;
    border: 1px solid green;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 0 25px rgb(255,0,0);
    

}
img{
    width: 100%;
    transition: transform.4s;
}
img:hover{
    transform: scale(1.2);
}
.content{
    text-align: center;
}
